/*=============================================================
                    Website Theme Inline Menu
 ============================================================ */
#top_menu {
    width: 100%;
}

#top_menu > li > a {
    white-space: nowrap;
}

#top_menu > li{
    display: inline;
}

#more_dropdown li.dropdown ul.dropdown-menu {
    top: 0px;
}

#more_dropdown li.dropdown:hover .dropdown-menu {
    display: block;
}
