
@font-face {
    font-family: "Satisfy-Regular";
    src: url("/website_restaurant_menu_snippet/static/src/fonts/Satisfy-Regular.ttf") format("truetype");
    font-weight: normal;
}


.s_restaurant_product_catalog[data-vcss='001'] {
    background-color: 'red';

    .s_restaurant_product_description {
        font-size: 13px;
        font-style: italic;
    }

    .s_restaurant_product_catalog_title {
        font-family: 'Satisfy-Regular';
    }

    .s_restaurant_product_catalog_dish {
        // Title
        .s_restaurant_product_catalog_dish_title {
            line-height: $headings-line-height;
        }
        // Description
        .s_restaurant_product_catalog_dish_description {
            margin-bottom: $spacer;
        }
        &:last-child {
            .s_restaurant_product_catalog_dish_description {
                margin-bottom: 0;
            }
        }
        // Dot Leaders
        .s_restaurant_product_catalog_dish_dot_leaders {
            display: flex;
            flex-grow: 1;
            align-items: center;
            &::after {
                content: '';
                margin-left: $spacer/2;
                flex: 1 0 auto;
                border-bottom: 1px dotted;
            }
        }
    }
}
