/*=============================================================
                    Website Theme Overlay Menu
 ============================================================ */
body {
    margin: 0;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
/*
    display: flex;
    justify-content: center;
    align-items: center;
*/
}

.overlay-content {
    top: 15%;
    width: 100%;
    text-align: center;
    margin: 40px 0px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px !important;
    color: #999;
    display: block;
    transition: 0.4s;
}

.overlay a:hover, .overlay> a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 30px !important;
}

.overlay-content .dropdown-menu {
    background: #000;
    width: 100%;
    text-align: center;
}

.overlay-content .dropdown-menu > li > a {
    color: #999;
}

.overlay-content .dropdown-menu a:active,
.overlay-content .dropdown-menu a:hover,
.overlay-content .dropdown-menu> a:focus {
    color: #f1f1f1;
    background: none;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px;}
  .overlay .closebtn {
    font-size: 30px;
    top: 0px;
    right: 15px;
  }
}
