#searchbox li {
    list-style-type: none;
}

#searchbox a {
    color: #333;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
}

.question img {
    margin-top: 25px;
    border-radius: 50%;
    overflow: hidden;
}

.fts_result h4, .fts_result h4 > span {
    font-size: 23px;
}

.fts_result p, .fts_result span {
    font-size: 18px;
}

.fts_result div.mt16 {
    padding: 0px;
}

.fts_result img {
    width: 100%;
}

.result_desc {
    height: 6em;
    overflow: hidden;
    position: relative;
}

.result_desc::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 1.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}
