body {
    opacity: 1;
    transition: 0.7s opacity;
    margin: 50px 0px;
}
body.fade-out {
    opacity: 0;
    transition: none;
}

ul { list-style-type:none; }

a { text-decoration: none !important; }

#title { margin: 10px; }

.footer-fixed-bottom {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    z-index: 1030;
}

.footer-default {
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    display: block;
}

#footer_container { padding: 0px; }

#footer_container > ul > li {
    height: 50px;
    display: table-cell;
    width: 1%;
    margin-bottom: 0;
}

.footer_items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer_items > a {
    font-size: 2.0em;
}

.grid-container {
    justify-content: center;
    display: flex;
    align-items: center;
}

.grid-container .form-group {
    padding: 0px 5px;
}

.no-padding-div {
    padding: 0px;
}

.no-padding-div label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
}
