.oe_vertel_product_view_box {
  margin: 5px;
  overflow:hidden;
  float: left;
}

.oe_vertel_product_view_price {
  white-space: nowrap;
}

.oe_vertel_product_view_old_price {
  white-space: nowrap;
}

.gridbox_title {
  
}

.oe_vertel_product_gridbox {
  webkit-justify-content: center;
  justify-content: center;
  display: flex;
}

