#si_image_blocks_description .col-sm-4{
	padding:0
}

.image_block_menu_section .image_block_menu,
.image_block_menu_section .oe_img_bg {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.image_block_menu_section .image_block_menu:after,
.image_block_menu_section .oe_img_bg:after {
    padding-top: 75%;
    display: block;
    content: '';
}

.image_block_menu_section .image_block_menu_field{
    position: absolute;
    opacity: 0.5;
}

.image_block_menu:hover .image_block_menu_field{
    transition: all 0.3s ease-in;
    opacity: 1;
}
