.image_block {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 75%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.image_block_text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none !important;
    display: none;
}

.image_block i{
    color: #fff;
    text-decoration: none;
}

.image_block:hover .image_block_text {
    display: flex;
    justify-content: center;
    align-items: center;
}








