/*=============================================================
                    Website Theme Mega Menu
 ============================================================ */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

li#more_dropdown {
    list-style-type: none;
}

ul.dropdown-menu h5{
  margin-bottom: 5px !important; 
} 

body{
  font-family: 'Lato', sans-serif;
  font-weight:300;
}
.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  clear: both;
  font-weight:300;
  line-height: 1.428571429;
  color: black;
  white-space: normal;
}

 .mega-dropdown-menu.dropdown-menu > li > a{
  padding-left: 0;
}


.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: black;

}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: white;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
  color:black;
}
.dropdown-menu-large .dropdown-header {
  color: black;
  font-size: 18px;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}

ul.dropdown-menu.dropdown-menu-large.row h5 {
    font-size: 12px;
}

h2.megamenu-headline {
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 0;
    padding-top: 10px;
}

a.megamenu-headline {
    padding-bottom: 0;
}

ul.dropdown-menu#top_menu a{
    padding-bottom: 0;
}

li.megamenu-content{
    list-style-type: none;
}

p.megamenu-content{
  font-size: 14px;
}

li.megamenu-content#top_menu a{
  text-transform: capitalize;
}

p.megamenu-content {
    text-transform: capitalize;
}

li, label {
    list-style-type: none;
}


.mega-dropdown-menu a:hover {
    color: #839794;
}

@media (max-width: 1500px){
.mega-dropdown-menu .col-sm-2 {
    min-width: 20.66666667%;
}
}

.mega-dropdown-menu .col-sm-2 {
    min-height: 210px;
}


/*.mega-dropdown-menu .col-sm-2 {
    height: 16.66666667%;
}*/


/*.container.dn_header {
    display: none;
}*/

/*@media (min-width: 1500px){
.mega-dropdown-menu .col-sm-2 {
    max-width: 14.66666667%;
}*/

ul.mega-dropdown-menu {
/*padding-left: 12%;*/
}

.mega-dropdown-menu ul {
    padding: 0;
}

@media (min-width: 768px){
.mega-dropdown-menu .col-sm-2 {
    max-width: 300px !important;
}
}


@media (min-width: 1600px){
ul.mega-dropdown-menu {
padding-left: 3%;
padding-right: 3%;

}


/*@media (min-width: 950px) and (max-width: 1300px){
.mega-dropdown-menu .col-sm-2 {
    min-width: 18.66666667%;
}

}*/

.mega-dropdown-menu .col-sm-2 {
    min-height: 270px;
}

.column_item_pages .col-sm-2{
  min-height:1200px;
}
}

.scrollable-menu {
    height: auto;
    max-height: 700px;
    overflow-x: hidden;
}

.dropdown-menu > li > a:hover{
  background-color:none;
}


@media (max-width: 500px){
ul.mega-dropdown-menu {
padding-left: 3%;
padding-right: 3%;
}

}


@media (max-width: 1054px){
.megamenu-headline{
  padding-top: 0;
  margin: 0;
}
#top_menu a{

}

}

h2.megamenu-headline{
  padding-top: 5.5%;
  margin: 0px;
  font-family: futura-pt-medium, sans-serif;
}

ul.dropdown-menu.mega-dropdown-menu.row.col-md-12 a:hover {
    background-color: transparent;
}

.mega-dropdown-menu a:hover {
    color: #839794;
}
.mega-dropdown-menu a {
    padding-bottom: none;
}

ul.dropdown-menu.mega-dropdown-menu.row.col-md-12 a:hover {
    background-color: transparent;
}


@media (min-width: 1500px){
.mega-dropdown-menu .col-sm-2 {
     width: 270px !important;

}
}

.megamenu-headline a:hover{
  background: none;
  color: #839794;
}

.page-items-mega.megamenu-headline {
    padding-top: 20px;
}


.column_item_pages .col-sm-2 {
    min-height: 1200px;
    padding: 2px 0px 15px 40px;
    margin-left: 20px;
}





/*@media (min-width: 768px) and (max-width:1108px){
.col-sm-2 {
    width: 22.66666667%;
}
}*/

